[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gpt-2-simple = "*"
tensorflow = "*"
vadersentiment = "*"
requests = "*"
botometer = "*"

[dev-packages]

[requires]
python_version = "3.10"
